.phone-space {
    height: 700px;
    width: 350px;
    text-align: left;
    position: absolute;
    top: 10%;
}

.window {
    background-color: transparent;
    height: 660px;
    width: 305px;
    margin: 20px 23px 20px 22px;
    position: absolute;
    z-index: -10;
}

.phone-image {
    background-image: url("/iphone-xs-frame.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;
    -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(10%, transparent) , to(rgba(250, 250, 250, 0.1)));
    height: inherit;
    width: inherit;
    position: absolute;
    overflow: auto;
    pointer-events: none;
}
