.controller {
    float: left;
    position: relative;
}

.phone {
    float: right;
    position: relative;
}

.clear {
    clear: both;
}

.root{
    position: absolute;
    min-width: 770px;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: auto;
    padding: 0;
}

.left{
    left: 0;
    background-color: #161616;
    width: 40%;
    min-width: 400px;
}

.right {
    right: 0;
    background-color: #000;
    min-width: 370px;
    width: 60%;
    max-width: calc(100% - 400px)
}

.centered-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
