.controller {
    float: left;
    position: relative;
}

.phone {
    float: right;
    position: relative;
}

.clear {
    clear: both;
}

.container {
}

.content {
    position: absolute;
    width:100%;
    height:100%;
}

.columns-container {
    position:relative;
    top: 50px;
    height: calc(100% - 50px);
    width: 100%;
}

.split {
    height: inherit;
    width: 50%;
    position: fixed;
    z-index: 1;
    overflow: auto;
    padding: 0;
}

.left{
    left: 0;
    background-color: #0f0f0f;
    width: 40%;
    min-width: 400px;
}

.right {
    right: 0;
    background-color: #000;
    min-width: 370px;
    width: 60%;
    max-width: calc(100% - 400px)
}

.centered-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
