@use postcss-nested;

p {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 12px;
    font-size: 13px;
    line-height: 24px;
    position:relative;
    padding:10px 20px;
    border-radius:25px;

    &:before, &:after {
        content:"";
        position:absolute;
        bottom:-2px;
        height:20px;
    }
}

.chat {
    width: auto;
    min-width: 265px;
    display: flex;
    padding: 0 20px;
    flex-direction: column-reverse;
    position: absolute;
    height: 455px;
    z-index: -5;
    background-color: white;
    overflow: auto;
    top: 105px;
}

.messages {
    margin: 0 5px;
    display: flex;
    flex-direction: column;
}

.message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.yours {
    align-items: flex-start;
}

.yours .message {
    margin-right: 25%;
    background-color: #eee;
    position: relative;
}

.yours .message:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #eee;
    border-bottom-right-radius: 15px;
}
.yours .message:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
}

.mine {
    align-items: flex-end;
}

.mine .message {
    color: white;
    margin-left: 25%;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%) fixed;
    position: relative;
}

.mine .message:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%) fixed;
    border-bottom-left-radius: 15px;
}

.mine .message:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
}
