h1 {
    border-bottom: 1px #444444 solid;
    padding-bottom: 50px;
}

.send-texts-frame, .settings-frame {
    background-color: #000;
    color: white;
    padding: 40px;
    text-align: left;
    height: calc(100% - 80px);
    min-height: max-content;
    overflow: visible;
    width: calc(100% - 81px);
    position: absolute;
}

.configuration {
    color: white;
}

.send-label {
    display: block;
    margin-bottom: 30px;
    font-size: 1.25em;
    color: #fff;
}

.input-box {
    display: block;
    background-color: #000;
    border: #868686 2px solid;
    border-radius: 30px;
    padding: 16px 53px 16px 21px;
    color: #868686;
    width: calc(100% - 78px);
    font-size: 1em;
}

.input-box:active,.input-box:hover,.input-box:focus {
    background-color: #000;
    border: #fff 3px solid;
    width: calc(100% - 78px);
    color: #fff;
    outline: none;
    padding: 15px 52px 15px 20px;

}

.send-box {
    margin: 50px 0;
    color: #868686;
}

.send-box:hover, .send-box:active {
    color: #fff;
}

.buttons {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.corner-buttons {
    z-index: 15;
    position: absolute;
    float: right;
    text-align: right;
    bottom: 40px;
    right: 40px;
}

.send-buffer {
    z-index: 12;
    position: relative;
    text-align: right;
    float: right;
    bottom: 51px;
    right: 8px;
}
