.input {
    border-radius: 25px;
    height: 25px;
}

h1 {
    border-bottom: 1px #444444 solid;
    padding-bottom: 50px;
}

.frame-controller {
    background-color: #000;
    color: white;
    padding: 40px;
    text-align: left;
    height: calc(100% - 80px);
    min-height: max-content;
    overflow: visible;
    width: calc(100% - 81px);
    position: absolute;
}

.inputs {
}

.send-label {
    display: block;
    margin-bottom: 30px;
    font-size: 1.25em;
}

.input-box {
    display: block;
    background-color: #000;
    border: #868686 2px solid;
    border-radius: 30px;
    padding: 16px 21px;
    color: #868686;
    width: calc(100% - 46px);
    font-size: 1em;
}

.input-box:active,.input-box:hover,.input-box:focus {
    background-color: #000;
    border: #fff 4px solid;
    color: #fff;
    width: calc(100% - 46px);
    outline: none;
    padding: 14px 19px;
}

.send-box {
    margin: 50px 0;
    color: #868686;
}

.send-box:hover, .send-box:active, .send-box:focus {
    color: #fff;
}

.buttons {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.send-button {
    background: #0085D1;
    border-radius: 30px;
    padding: 15px 30px;
    color: #fff;
    font-size: .8em;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    border: none;
    margin: 10px;
}

.send-button:hover, .send-button:active {
    background-color: #398cd8;
}

.send-button:focus {
    outline: none;
}

.icon-button, .icon-button-send {
    font-size: 1.25em;
    background: transparent;
    border: 2px solid #868686;
    padding: 7px;
    line-height: 0;
    color: #868686;
    margin: 0 0 0 10px;
}

.icon-button:hover, .icon-button:active, .icon-button:focus,
.icon-button-send:hover, .icon-button-send:active, .icon-button-send:focus{
    color: #fff;
    background: transparent;
    border: 3px solid #fff;
    padding: 6px;
}

.corner-buttons {
    z-index: 15;
    position: absolute;
    float: right;
    text-align: right;
    bottom: 40px;
    right: 40px;
}

.send-buffer {
    z-index: 12;
    position: relative;
    text-align: right;
    float: right;
    bottom: 51px;
    right: 8px;
}

.icon-button-send {
    color: #0085D1;
    border: 2px solid #0085D1;
}

.icon-button-send:hover, .icon-button-send:active, .icon-button-send:focus {
    color: #398cd8;
    border: 3px solid #398cd8;
    font-weight: bold;
}
