h1 {
    border-bottom: 1px #444444 solid;
    padding-bottom: 50px;
}

.frame-controller {
    background-color: #000;
    color: white;
    padding: 40px;
    text-align: left;
    height: calc(100% - 80px);
    min-height: max-content;
    overflow: visible;
    width: calc(100% - 81px);
    position: absolute;
}

.send-label {
    display: block;
    margin-bottom: 30px;
    font-size: 1.25em;
}

.input-box {
    display: block;
    background-color: #000;
    border: #868686 2px solid;
    border-radius: 30px;
    padding: 16px 53px 16px 21px;
    color: #868686;
    width: calc(100% - 78px);
    font-size: 1em;
}

.input-box:active,.input-box:hover,.input-box:focus {
    background-color: #000;
    border: #fff 3px solid;
    width: calc(100% - 78px);
    outline: none;
    padding: 15px 52px 15px 20px;

}

.send-box {
    margin: 50px 0;
    color: #868686;
}

.send-box:hover, .send-box:active {
    color: #fff;
}

.buttons {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.icon-button, .icon-button-send {
    font-size: 1.25em;
    background: transparent;
    border: 2px solid #868686;
    padding: 7px;
    line-height: 0;
    color: #868686;
    margin: 0 0 0 10px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.icon-button:hover, .icon-button:active,
.icon-button-send:hover, .icon-button-send:active {
    color: #fff;
    background: transparent;
    border: 3px solid #fff;
    padding: 6px;
}

.icon-button:focus {
    outline: none;
}

.icon-button-send {
    color: #0085D1;
    border: 2px solid #0085D1;
}

.icon-button-send:hover, .icon-button-send:active {
    color: #398cd8;
    border: 3px solid #398cd8;
    font-weight: bold;
}

.corner-buttons {
    z-index: 15;
    position: absolute;
    float: right;
    text-align: right;
    bottom: 40px;
    right: 40px;
}

.send-buffer {
    z-index: 12;
    position: relative;
    text-align: right;
    float: right;
    bottom: 51px;
    right: 8px;
}
